@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Open Sans',sans-serif;
}
a,button{
    @apply outline-primary;
}
.prose :where(code):not(:where([class~="not-prose"] *))::before{
    content: '';
}
.prose :where(code):not(:where([class~="not-prose"] *))::after{
     content: '';
 }
.prose code{
    @apply font-normal bg-gray-200 px-1 py-1 rounded;
}

.btn-sm{
    @apply text-sm;
}
.btn-text {
    @apply text-blue-400 px-2 py-2 font-bold;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 360ms ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
